sudo: required
language: generic

services:
    - docker

before_install:
    - docker build -t fathi3060/docker-react -f Dockerfile.dev .

script:
#  - docker run -e CI=true fathi3060/docker-react npm run test -- --coverage
  - docker run -e CI=true fathi3060/docker-react npm run test



